.bg-modified {
    background-color: #cce5ff; /* light blue */
}

.bg-added {
    background-color: #d4edda; /* light green */
}

.bg-deleted {
    background-color: #f8d7da; /* light red */
}

.bg-inherited {
    background-color: inherit !important;
}

.text-left {
    text-align: left;
}