.custom-btn {
    min-width: 200px; /* Adjust this value as needed */
    text-align: center;
}
.custom-link {
  color: gray;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}